#version 440 core

layout(location=0) out vec4 oColor;

in float tTexSlot;
in vec2 tUVs;

layout(binding=0) uniform sampler2D TEXTURE_SLOTS[$NUM_TEXTURE_SLOTS];

uniform vec4 uForeColor = vec4(1.0, 1.0, 1.0, 1.0);

void main() {
	float grayscale = texture(TEXTURE_SLOTS[int(tTexSlot)], tUVs).r;
	oColor = vec4(1.0, 1.0, 1.0, grayscale) * uForeColor;
}
