#version 440 core

uniform vec4 uGradientColors[$MAX_GRADIENT_COLORS];

layout(location=0) out vec4 oColor;

in vec2 tUVs;
in vec4 tGradientColors;

void main() {
	vec4 low = mix(uGradientColors[int(tGradientColors[0])], uGradientColors[int(tGradientColors[1])], tUVs.x);
	vec4 high = mix(uGradientColors[int(tGradientColors[2])], uGradientColors[int(tGradientColors[3])], tUVs.x);
	oColor = mix(low, high, tUVs.y);
}
